/*	Stylesheet for Spotify Infosuite
	This file is required by multi_frame.py and single_frame.py


	THUMB 		= #BFC8CE
	SEL 		= #2F4A60
	BACKG 		= #FFFFFF
	INFO 		= #DAEBED
	BTNS 		= #D3D3D3
	BTNS_HOVER 	= #C8C8C8
	AUDIO_ON 	= #E2EFDA
	AUDIO_OFF 	= #EFDFDE
*/
QWidget#multi_frame_window {
	background-color: #0f0f0f;
}

QPushButton#prev_button {
	font-weight: bold;
	background-color: #0f0f0f;
    color: white;
    border: 1px solid #25D34D;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}
QPushButton#prev_button:hover {
	background-color: #25D34D ;
    color: #0f0f0f;
}

QPushButton#next_button {
	font-weight: bold;
	background-color: #0f0f0f;
    color: white;
    border: 1px solid #25D34D;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}
QPushButton#next_button:hover {
	background-color: #25D34D ;
    color: #0f0f0f;
}

QPushButton#playpause_button {
	font-weight: bold;
	background-color: #0f0f0f;
    color: white;
    border: 1px solid #25D34D;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}
QPushButton#playpause_button:hover {
	background-color: #25D34D ;
    color: #0f0f0f;
}

/* Playback Frame */
QLabel#playback_frame {
	position: relative;
	background-color: #1D1D1D;
	border: 2px solid #000;
}
QPushButton#playpause_button,
QPushButton#prev_button,
QPushButton#next_button {

}
QPushButton#playpause_button {
	
}
QPushButton#prev_button {

}
QPushButton#next_button {

}


QLabel#bio_frame {
    background-color: #1D1D1D;
	border: 2px solid #000;
}

QLabel#review_frame {
    background-color: #1D1D1D;
    border: 2px solid #000;
}
QLabel#review {
    background-color: #0f0f0f;
    color: #fff;
    border: 1px solid #25D34D;
    border-radius: 5%;
    padding: 5px;
}

QLabel#frame_title {
    position: relative;
    background-color: #0f0f0f;
    text-align: center;
    padding: 2px;
    border-radius: 5%;
    color: #25D34D;
    font-weight: bold;
    /*text-decoration: underline;*/
}

QLabel#frame_text{
    position: relative;
    background-color: #0f0f0f;
	padding-top: 25px;
	padding-right: 3px;
	padding-bottom: 5px;
	padding-left: 3px;
    border-radius: 5%;
    /*color: #25D34D;*/
    color: #FFFFFF;
    font-size: 14pt;
}


/*("""*/
        /*.QWidget {*/
            /*border: 20px solid black;*/
            /*border-radius: 10px;*/
            /*background-color: rgb(255, 255, 255);*/
            /*}*/
        /*""")*/