/*	Stylesheet for Spotify Infosuite
	This file is required by multi_frame.py and single_frame.py


	THUMB 		= #BFC8CE
	SEL 		= #2F4A60
	BACKG 		= #FFFFFF
	INFO 		= #DAEBED
	BTNS 		= #D3D3D3
	BTNS_HOVER 	= #C8C8C8
	AUDIO_ON 	= #E2EFDA
	AUDIO_OFF 	= #EFDFDE
*/
QWidget#multi_frame_window {
	background-color: #0f0f0f;
}
QWidget#single_frame_window {
    background-color: #0f0f0f;
}
QLabel#popup_text {
    color: #fff;
}

QPushButton#prev_button {
	font-weight: bold;
	background-color: #0f0f0f;
    color: white;
    border: 1px solid #25D34D;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}
QPushButton#prev_button:hover {
	background-color: #25D34D ;
    color: #0f0f0f;
}

QPushButton#next_button, #next_image_button, #prev_image_button {
	font-weight: bold;
	background-color: #0f0f0f;
    color: white;
    border: 1px solid #25D34D;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}
QPushButton#next_button:hover, #next_image_button:hover, #prev_image_button:hover {
	background-color: #25D34D ;
    color: #0f0f0f;
}

QPushButton#playpause_button{
	font-weight: bold;
	background-color: #0f0f0f;
    color: white;
    border: 1px solid #25D34D;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}
QPushButton#playpause_button:hover {
	background-color: #25D34D ;
    color: #0f0f0f;
}

QPushButton#expando_btn {
    background-color: #1D1D1D;
    color: #fff;
    border-right: 2px solid #0f0f0f;
    border-bottom: 2px solid #0f0f0f;
    border-top: 1px solid #8e8e8e;
    border-left: 1px solid #8e8e8e;
    padding: 4px 12px 4px 12px;
    border-radius: 3px;
}
QPushButton#expando_btn:hover {
    background-color: #25D34D;
    border-top: 2px solid #0f0f0f;
    border-left: 2px solid #0f0f0f;
    border-right: 1px solid #8e8e8e;
    border-bottom: 1px solid #8e8e8e;
    font-weight: bold;
    color: #000;
}

/* Playback Frame */
QLabel#playback_frame {
	position: relative;
	background-color: #1D1D1D;
	border: 2px solid #000;
}
QPushButton#playpause_button,
QPushButton#prev_button,
QPushButton#next_button {

}
QPushButton#playpause_button {
	
}
QPushButton#prev_button {

}
QPushButton#next_button {

}


QLabel#bio_frame, #lyrics_frame, #images_frame, #social_frame {
    background-color: #1D1D1D;
	border: 2px solid #000;
}

QLabel#review_frame, #metacritic_frame {
    background-color: #1D1D1D;
    border: 2px solid #000;
}
QLabel#review {
    background-color: #0f0f0f;
    color: #fff;
    /*border: 1px solid #25D34D;*/
    border-radius: 5%;
    /*padding: 5px;*/
}

QLabel#frame_title {
    position: relative;
    background-color: #0f0f0f;
    text-align: center;
    padding: 2px;
    border-radius: 5%;
    color: #25D34D;
    font-weight: bold;
    font-size: 16pt;
    /*text-decoration: underline;*/
}
QLabel#playback_title {
    position: relative;
    background-color: #0f0f0f;
    text-align: center;
    padding: 1px;
    border-radius: 5%;
    color: #25D34D;
    /*font-weight: bold;*/
    font-size: 15pt;
    /*text-decoration: underline;*/
}
QLabel#news_title, #news_summary {
    color: #FFF;
    font-size: 13px;
}
QLabel#news_title {
    text-decoration: underline;
}

QLabel#frame_text, #bio_text, #lyrics_text, #frame_images, #social_text {
    /*position: relative*/;
    background-color: #0f0f0f;
	/*padding-top: 25px;*/
	padding-right: 3px;
	padding-bottom: 5px;
	padding-left: 3px;
    border-radius: 5%;
    /*color: #25D34D;*/
    color: #FFFFFF;
    font-size: 14pt;
}
QLabel#lyrics_text {
    margin-top: -70px;
}
QLabel#bio_text {
    margin-top: -30px;
}

QLabel#mc_title, #mc_critic, #mc_user {
    color: white;
    font-size: 13pt;
}
QLabel#mc_title {
    font-size: 14pt;
    text-decoration: underline;
}

/*("""*/
        /*.QWidget {*/
            /*border: 20px solid black;*/
            /*border-radius: 10px;*/
            /*background-color: rgb(255, 255, 255);*/
            /*}*/
        /*""")*/